<h1>
	¡Hola! ¡Por favor, confirma tu email!</h1>

<p>
	Confirme su dirección de correo electrónico haciendo clic en el siguiente enlace:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmar mi correo</a>.
	Este enlace caducará en	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Gracias
</p>
