{% extends 'base.html.twig' %}

{% block title %}New ProductosPedidos{% endblock %}

{% block body %}
    <h1>Create new ProductosPedidos</h1>

    {{ include('productos_pedidos/_form.html.twig') }}

    <a href="{{ path('productos_pedidos_index') }}">back to list</a>
{% endblock %}
