{% extends 'base.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo usuario</h1>

    {{ include('usuarios/_form.html.twig') }}

    <a class="btn btn btn-outline-danger float-left mr-5" href="{{ path('usuarios') }}">Volver a la lista</a>
{% endblock %}
